# Node modules (npm / gulp packages)
node_modules/

# Build output
dist/
build/

# Logs
*.log

# System files
.DS_Store


# VSCode/IDE settings
.vscode/
.idea/

# WordPress specific
wp-config.php
wp-content/uploads/
